---
layout: default
---
<div class="projects">
	<h2>Projects and Apps</h2>
	<ul>
	{% for post in site.categories['projects'] %}
	<li>
		<a href="{% if post.liveurl %}{{post.liveurl}}{% else %}{{ post.url }}{% endif %}" target="_blank">
		<div>
			<img src="{{ site.url }}/imgs/{{ post.img }}" alt="{{ post.title }}">
			<h2>{{ post.title }}</h2>
			<p>{{ post.byline }}</p>
		</div>
		</a>
	</li>
	{% endfor %}
	</ul>
	<h2>Personal Stuff</h2>
	<ul class="projects">
		<li>
			<a href="./aboutme.html" target="_blank">
				<div>
				<img src="//gravatar.com/avatar/21bac82f9e10761ac7418aff257c2035?s=400" alt="Me">
					<h2>Me</h2>
					<p>All About Me</p>
				</div>
			</a>
		</li>
				<!--
		<li>
			<a href="http://blog.williamsaulnier.com" target="_blank">
				<div>
				<img src="/imgs/blog.png" alt="Blog">
					<h2>My Blog</h2>
					<p>Words of Insight</p>
				</div>
			</a>
		</li>
		-->
		<li>
			<a href="http://enigmasm.com" target="_blank">
				<div>
				<img src="/imgs/enigmasm.png" alt="EnigmaSM">
					<h2>EnigmaSM</h2>
					<p>My Software Company</p>
				</div>
			</a>
		</li>
		<li>
			<a href="./ResumeAug2014.pdf" target="_blank">
				<div>
				<img src="/imgs/resume.png" alt="Resume">
					<h2>Resume</h2>
					<p>Achievement Texts</p>
				</div>
			</a>
		</li>
		<li>
			<a href="http://github.com/lego6245" target="_blank">
				<div>
				<img src="/imgs/github.png" alt="Github">
					<h2>Github</h2>
					<p>Reprofile</p>
				</div>
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/pub/william-saulnier/68/a42/621/" target="_blank">
				<div>
				<img src="/imgs/linkedin.png" alt="LinkedIn">
					<h2>LinkedIn</h2>
					<p>Social Link</p>
				</div>
			</a>
		</li>
		<li>
			<a href='mailto&#58;%6D&#101;&#37;&#52;0w&#105;lliamsau&#108;ni&#101;&#114;%&#50;Ec%6F%6D' target="_blank">
				<div>
				<img src="/imgs/email.png" alt="Email">
					<h2>Email Me</h2>
				</div>
			</a>
		</li>
	</ul>
</div>